<header>
  <div class="header--banner">
    <div class="banner--content">
      <p class="content--text">Visit us at the Annual ACFAP Foot and Ankle Conference: Booth #585</p>
      <button class="btn btn-secondary content--button">Learn More</button>
    </div>
  </div>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light navbar-top">
      <a class="navbar-brand" href="#">
        <img src="http://acmelogos.com/images/logo-5.svg" alt="" class="main-logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-top">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
        </form>

        <div class="access-module">
          <ul class="access-module--top">
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Report a Claim</a>
            </li>
          </ul>
          <div class="access-module--bottom">
            <button class="btn btn-primary">Start a Quote</button>
            <button class="btn btn-secondary">Make A Payment</button>
          </div>
        </div>


      </div>

    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondary-navbar" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="secondary-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Risk Management
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Why PICA?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="container content--container">
  <div class="row">
    <div class="hero--container">
      <div class="col-lg-6">
        <img src="https://source.unsplash.com/weekly?space" alt="">
      </div>
      <div class="col-lg-6">
        <div class="col-lg-12">
          <img src="https://source.unsplash.com/weekly?air" alt="">
        </div>
        <div class="col-lg-12">
          <img src="https://source.unsplash.com/weekly?earth" alt="">
        </div>
      </div>
    </div>
  </div>
</div>