// FontAwesome iconset import
@import "./assets/font-awesome/scss/fontawesome.scss";
@import "./assets/font-awesome/scss/solid.scss";
@import "./assets/font-awesome/scss/brands.scss";

// FontAwesome Icon Sass @mixins
.yt {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-youtube);
  }
}

.tw {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.fb {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-facebook-square);
  }
}

.ln {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-linkedin)
  }
}

.mail {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-envelope)
  }
}

// Colors
$white: #ffffff;

$green--500: #00703C;

$gray--300: #808184;
$gray--500: #58595B;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: $gray--300;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

button.btn.btn-primary {
  background-color: $green--500;
  color: $white;
  border: 2px solid $green--500;

  &:hover {
    opacity: 0.9;
  }
}

button.btn.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $green--500;
  color: $green--500;

  &:hover {
    color: $white;
    background-color: $green--500;
  }
}


.header--banner {
  background-color: $gray--500;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .banner--content {
    display: flex;
    margin: 0 auto;
    align-items: center;

    & p.content--text {
      color: $white;
      text-align: center;
      margin: 0;
      padding-right: 3rem;
    }

    & button.btn.btn-secondary.content--button {
      border: 2px solid $white;
      color: $white;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.navigation {
  & nav #navbar-top {
    height: 140px;
    background-color: $white;
    justify-content: space-between;
    padding: 0 3rem;
  }

  & nav a.navbar-brand {
    width: 200px;
    text-align: center;
  }

  & .navbar-collapse#secondary-navbar {
    padding-right: 3rem;

    & ul.navbar-nav {
      & li.nav-item a {
        color: $green--500;
      }
    }
  }
}

ul.access-module--top {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;

  & li {
    width: auto;
    text-align: right;
    margin-right: 1rem;

    & a {
      color: $green--500;
    }
  }

  & li:nth-child(2) {
    margin-right: 0;

    &::before {
      content: '';
      width: 2px;
      height: auto;
      border-left: 2px solid $green--500;
      padding-right: 1rem;
    }
  }
}

.access-module--bottom {
  & button {
    margin: 0 0.5rem;
  }

  & :last-child {
    margin-right: 0;
  }
}

.content--container {
  padding: 2rem 4rem;
}

.hero--container {
  & img {
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
  }

  & .mainImage {
    max-height: 400px;
    height: 400px;
  }

  & .col img {
    max-height: 200px;
  }

  & img.sideImageTop {
    padding-bottom: 1rem;
  }

  & img.sideImageBottom {
    padding-top: 1rem;
  }
}

.social--container {
  padding-top: 2rem;

  & h1 {
    text-align: center;
  }

  & ul.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 1rem;

    & li.social-icon {
      position: relative;
      font-size: 2rem;
      width: 4rem;
      height: 4rem;

      &:before {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: $gray--300;
      }

      &:after {
        position: absolute;
        border: 4px solid $gray--300;
        border-radius: 50%;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      &:hover {
        cursor: pointer;

        &:before {
          color: $green--500;
        }

        &:after {
          border-color: $green--500;
        }
      }

      &.fb:before,
      &.ln:before {
        right: 18px !important;
      }

      &.yt:before {
        right: 14px !important;
      }
    }
  }
}

.services--container {
  justify-content: center;
  padding: 8rem 0 4rem 0;
  & .service {
    display: block;
    text-align: center;
    & .service--icon {
      width: 148px;
      height: 148px;
      margin: 0 auto;
      position: relative;
      &:after {
        width: 100%;
        height: 100%;
        border: 3px solid $green--500;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      & svg {
        width: 100px;
        height: 100px;
        margin-top: 1rem;
      }
    }
    & .service--title {
      text-transform: uppercase;
      margin-top: 1.5rem;
    }
    & button.service--button {
      margin-top: 1rem;
    }
  }
}


.services--content {
  padding: 8rem 0 4rem 0;
  & .content--p {
    line-height: 1.5rem;
  }
}

footer {
  height: 400px;
  width: 100vw;
  background-color: $gray--500;
  color: $white;
  padding: 4rem 0;
  & .sitemap--container {
    & ul.categories {
      list-style: none;
      display: flex;
      text-align: center;
      & li.category {
        & ul {
          list-style: none;
          margin: 0;
          padding-left: 0;
        }
      }
    }
  }
}

