// FontAwesome iconset import
@import "./assets/font-awesome/scss/fontawesome.scss";
@import "./assets/font-awesome/scss/solid.scss";
@import "./assets/font-awesome/scss/brands.scss";

// FontAwesome Icon Sass @mixins
.yt {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-youtube);
  }
}

.tw {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.fb {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-facebook-square);
  }
}

.ln {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-linkedin)
  }
}

.mail {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-envelope)
  }
}

.phone {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-phone);
  }
}

.search {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-search);
  }
}

// Color variables
$white: #ffffff;

$green--300: #54B848;
$green--500: #00703C;

$gray--300: #808184;
$gray--500: #58595B;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}

h1,
h3 {
  color: $green--500;
}

h2,
h4,
h5 {
  color: $gray--300;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

button.btn.btn-primary,
button.btn.btn-secondary {
  min-width: 150px;
}

button.btn.btn-primary {
  background-color: $green--500;
  color: $white;
  border: 2px solid $green--500;

  &:hover {
    opacity: 0.9;
  }
}

button.btn.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $green--500;
  color: $green--500;

  &:hover {
    color: $white;
    background-color: $green--500;
  }
}


.header--banner {
  background-color: $gray--500;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .banner--content {
    display: flex;
    margin: 0 auto;
    align-items: center;

    & p.content--text {
      color: $white;
      width: 100%;
      margin: 0;
      font-size: 0.9rem;
      width: 680px;
      padding-right: 3rem;
    }

    & button.btn.btn-secondary.content--button {
      border: 2px solid $white;
      color: $white;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .header--banner {
    padding: 0 1rem;
    font-size: 0.7rem;
    & .banner--content {
      text-align: center;
      align-items: center;
      & p.content--text {
        padding: 0;
        margin-bottom: 1rem;
        width: 100%;

      }
      & button {
        width: 100px;
        margin: 0 auto;
      }
    }
  }
}

.navigation {
  & nav #navbar-top {
    height: 140px;
    background-color: $white;
    justify-content: space-between;
    padding: 0 3rem;
    & ul.navbar-nav {
      display: none;
    }
    & form {
      margin-left: 20%;
      position: relative;
      & input.form-control {
        border: 2px solid $gray--300;
        width: 100%;
        min-width: 300px;
        padding: 1.5rem;
        padding-left: 0.5rem;
      }
      & .search {
        position: absolute;
        right: 2.5rem;
        color: $gray--300;
      }
    }
  }

  & nav a.navbar-brand {
    width: 200px;
    padding-left: 3rem;
    text-align: center;
  }

  & nav.secondary-navbar {
    border-top: 1px solid $green--500;
    border-bottom: 1px solid $green--500;
    padding: 0;
  }

  & .navbar-collapse#secondary-navbar {
    padding-right: 3.5rem;

    & ul.navbar-nav {
      & li.nav-item a {
        color: $green--500;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .navigation {
    & nav #navbar-top {
      & ul.navbar-nav {
      display: block;
    }
    }
  }
}

ul.access-module--top {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;

  & li {
    width: auto;
    text-align: right;
    margin-right: 1rem;

    & a {
      color: $green--500;
    }
  }

  & li:nth-child(2) {
    margin-right: 0;

    &::before {
      content: '';
      width: 2px;
      height: auto;
      border-left: 2px solid $green--500;
      padding-right: 1rem;
    }
  }
}

.access-module--bottom {
  & button {
    margin: 0 0.5rem;
  }

  & :last-child {
    margin-right: 0;
  }
}

.access-module--phone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0 0 0;

  & .phone-icon {
    background-color: $green--500;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: relative;
    margin-right: 0.5rem;

    &:before {
      color: $white;
      top: 0.5rem;
      left: 0.5rem;
      position: absolute;
    }
  }

  & a {
    color: $green--500;
  }
}

.content--container {
  padding: 2rem 4rem;
}

.hero--container {
  & img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }

  & .mainImage {
    max-height: 400px;
    height: 400px;
  }

  & .col img {
    max-height: 200px;
  }

  & img.sideImageTop {
    padding-bottom: 1rem;
  }

  & img.sideImageBottom {
    padding-top: 1rem;
  }

  & button.btn.btn-primary {
    background-color: $white;
    color: $green--500;
    border: 1px solid $green--500;
    border-radius: 4px;
  }

  & .col-lg-6 {
    &.mainImage {
      position: relative;

      & button {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
      }
    }

    & .sideImageTop {
      position: relative;

      & button {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
    }

    & .sideImageBottom {
      position: relative;

      & button {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
      }
    }

    & .sideImageBottom img {
      padding-top: 1rem;
    }

    & .sideImageTop img {
      padding-bottom: 1rem;
    }
  }
}

 @media only screen and (max-width: 992px) {
  .content--container {
    padding: 1rem;
  }  
  .hero--container {
      & .col-lg-6 {
        &.mainImage {
          position: relative;
          padding-bottom: 1rem;
          & button {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
          }
        }

        & .sideImageTop {
          position: relative;

          & button {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
          }
        }

        & .sideImageBottom {
          position: relative;

          & button {
            position: absolute;
            bottom: 1rem;
            right: 2rem;
          }
        }

        & .sideImageBottom img {
          padding-top: 1rem;
        }

        & .sideImageTop img {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }

.social--container {
  padding-top: 2rem;

  & h1 {
    text-align: center;
  }

  & ul.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;

    & li.social-icon {
      position: relative;
      font-size: 1.5rem;
      width: 3rem;
      height: 3rem;

      &:before {
        position: absolute;
        right: 11px;
        top: 0.8rem;
        color: $gray--300;
      }

      &:after {
        position: absolute;
        border: 4px solid $gray--300;
        border-radius: 50%;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      &:hover {
        cursor: pointer;

        &:before {
          color: $green--500;
        }

        &:after {
          border-color: $green--500;
        }
      }

      &.fb:before,
      &.ln:before {
        right: 13px !important;
      }

      &.yt:before {
        right: 10px !important;
      }
    }
  }
}

.services--container {
  justify-content: center;
  padding: 4rem 0;

  & .service {
    display: block;
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:hover .service--icon {
      transform: translateY(-1.5rem) scale(1.1);
    }

    &:hover h5.service--title {
      color: $green--500;
    }

    & .service--icon {
      width: 148px;
      height: 148px;
      margin: 0 auto;
      position: relative;
      transition: transform 0.2s ease;


      &:after {
        width: 100%;
        height: 100%;
        border: 3px solid $green--500;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      &.new-practitioner svg {
        margin-top: 2rem;
      }

      &.group-practice svg {
        width: 120px;
      }

      & svg {
        width: 92px;
        height: 92px;
        margin-top: 1.5rem;
      }
    }

    & h5.service--title {
      text-transform: uppercase;
      margin-top: 1.5rem;
      min-height: 4rem;
    }

    & button.service--button {
      margin-top: 1rem;
    }
  }

  & .services--content {
    padding: 4rem;

    & .content--p {
      line-height: 1.5rem;
    }

    & img.content-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

 @media only screen and (max-width: 992px) {
    .services--container {
      padding: 2rem 0;
      & .service {
        padding: 2rem 0;

        & button.service--button {
            margin-top: 0.25rem;
        }
      }
    }
  }

footer {
  min-height: 800px;
  height: 100%;
  width: 100vw;
  background-color: $gray--500;
  color: $white;
  padding: 4rem 0;

  & .sitemap--container {
    justify-content: center;

    & ul.categories {
      list-style: none;
      text-align: left;
      padding-left: 4rem;

      & li.category {
        & ul {
          list-style: none;
          margin: 0;
          padding-left: 0;
        }
      }

      & h5, & a {
        color: $white;
      }
    }
  }

  & .logo--container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

    & .partner-logo {
      max-width: 200px;
      margin: 0 2rem;

      &.ward {
        max-width: 160px;
      }

      &.pro-assurance {
        max-width: 300px;
      }

      &.ward svg path,
      &.pro-assurance svg path {
        fill: $white;
      }

      &.pro-assurance svg path:nth-child(3) {
        fill: rgba(0, 0, 0, 0);
        stroke: $white;
      }
    }
  }

  & .social--container-footer {
    justify-content: center;

    & ul.social-links {
      display: flex;

      & li.social-icon {
        width: 64px;
        height: 64px;
        font-size: 2rem;
      }
    }
  }

  & .footer--information {
    justify-content: center;
    text-align: center;

    & .copyright-area {
      display: flex;
      justify-content: center;

      & p:first-child {
        margin-right: 1rem;
      }

      & p a {
        color: $white;
        margin: 0 1rem;
        position: relative;

        &:before {
          position: absolute;
          left: -1rem;
          top: 0;
          bottom: 0;
          border-left: 1px solid $white;
          content: '';
        }
      }
    }

    & .address-area p a,
    & .phone-area p a {
      color: $white;
    }
  }
}

@media only screen and (max-width: 992px) {
  footer {
   & .sitemap--container {
      & ul.categories {
        list-style: none;
        text-align: center;
        padding-left: 0;
      }
    }
    & .logo--container {
        & .partner-logo {
          padding-top: 2rem;
        }
      }
    }
  }


.innerpage-container {
  position: relative;

  & nav.breadcrumb.row {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    right: 0;
    padding-left: 2rem;
    z-index: 10;

    & a.breadcrumb-item {
      color: $green--500;
    }
  }

  & .innerpage--hero-section {
    position: relative;
    justify-content: center;

    & img.background-image {
      width: 100%;
      height: 300px;
      display: flex;
      object-fit: cover;
    }

    & h1.page-title {
      position: absolute;
      top: 30%;
      background-color: rgba(255, 255, 255, 0.8);
      left: 0;
      right: 0;
      text-align: center;
      padding: 2rem 0;
      color: $green--500;
      font-weight: 300;
    }
  }
}

.contact-container {
  padding: 2rem 4rem 4rem 4rem;

  & nav.breadcrumb {
    background: none;
    padding: 0rem 2rem 0 2rem;
    text-transform: uppercase;

    & a.breadcrumb-item {
      color: $green--500;
    }
  }
}

  .login--container {
    & nav.breadcrumb {
      background: none;
      padding: 2rem 4rem 0 4rem;
      text-transform: uppercase;

      & a.breadcrumb-item {
        color: $green--500;
      }
    }

    & .login--content {
      position: relative;
      padding-bottom: 4rem;

      & .manage-payments,
      & .one-time-payment {
        padding: 4rem;
      }

      & .manage-payments {
        &:before {
          content: 'OR';
          background-color: #ffffff;
          color: #808184;
          position: absolute;
          right: -2rem;
          top: 10rem;
          width: 50px;
          height: auto;
          z-index: 10;
          font-size: 1.5rem;
        }

        &:after {
          position: absolute;
          content: '';
          width: 1px;
          background-color: $green--500;
          right: 0;
          top: 2rem;
          bottom: 2rem;
        }

        & a {
          color: $green--500;
        }
      }
    }
  }

  .login-landing--container {
    padding: 4rem;

    & .col-lg-9 {
      padding-left: 4rem;

      & .tab-content {
        & .tab-pane {
          & h3.subtitle {
            color: $gray--500;
            text-decoration: uppercase;
          }

          & .cta-area {
            width: 100%;
            display: flex;
            object-fit: cover;
            height: 400px;
            margin: 2rem 0;
          }

          & p {
            margin: 0;
          }

          & .accordion {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
          }

          & a {
            color: $green--500;
          }

          & label {
            font-weight: bold;
            color: $gray--500;
          }

          & .card {
            & .card-header {
              & button.btn.btn-link {
                text-transform: uppercase;
                color: $gray--500;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }

    & .nav.nav-pills {
      color: $white;

      & .nav-link {
        background-color: $green--500;
        color: $white;
        border-radius: 0;
        border: 1px solid $white;
        padding: 1rem;

        &.active {
          background-color: $green--300;
        }
      }
    }
  }
